{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8"/>
    <title>{% block titile %}Todo list{% endblock %}</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    {#    <link href="{% static '/css/bootstrap.min.css' %}">#}
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/static/js/modernizr.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    {% block extra_head %}
        <style>
            body {
                padding-top: 40px;
            }

            .ftodo {
                text-decoration: line-through;
            }

            textarea {
                width: 97%;
                padding: 5px;
                font-size: 14px;
                resize: vertical;
            }
        </style>
        <script type="text/javascript">
            function sendtwitter() {
                $('#myModal form').submit(function () {
                    $.ajax({
                        type: "POST",
                        data: $('#myModal form').serialize(),
                        url: "{% url 'add' %}",
                        cache: false,
                        dataType: "html",
                        success: function (html, textStatus) {
                            $('#todo').replaceWith(html);
                            $('#myModal').modal('hide');
                            $('#myModal form')[0].reset();
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $('#comment_form form').replaceWith('Your comment was unable to be posted at this time.  We apologise for the inconvenience.');
                        }
                    });
                    return false;
                });
            }

            $(document).ready(function () {
                sendtwitter();
            })
        </script>
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="row clearfix">
        {% block todo %}
            <h2 class="text-success">待办事项</h2><br/>
            <div class="col-md-12 column">
                {#            <h3>#}
                {#                {% for todo in todolist %}#}
                {#                    <a href="#">{{ todo.owner }}</a>#}
                {#                {% endfor %}#}
                {#            </h3>#}
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        待办 &nbsp;&nbsp;
                        <small>共计：{{ todolist | length }}</small>
                    </div>
                    <div id="panel-element-276643" class="panel-collapse">
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <!-- Table -->
                                <table class="table">
                                    <thead>
                                    <tr>
                                        {#                                    <th>ID</th>#}
                                        <th>Owner</th>
                                        <th>Content</th>
                                        <th>Time</th>
                                        <th>Operation</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for todo in todolist %}
                                        <tr>
                                            {#  <th scope="row">{{ todo.todo_id }}</th>#}
                                            <td class="todo">
                                                <a href="{% url 'user' todo.owner %}">{{ todo.owner }}</a>
                                            </td>
                                            <td class="todo">{{ todo.content }}</td>
                                            <td class="todo">{{ todo.add_time }}</td>
                                            <td class="te">
                                                <div class="span2">
                                                    {# <a href="{% url 'success' todo.todo_id %}"#}
                                                    {# itle="复现完成">#}
                                                    <script type="text/javascript">
                                                        function sendtwitter1() {
                                                            $('#myModal1 form').submit(function () {
                                                                $.ajax({
                                                                    type: "POST",
                                                                    data: $('#myModal1 form').serialize(),
                                                                    url: "{% url 'success' todo.todo_id %}",
                                                                    cache: false,
                                                                    dataType: "html",
                                                                    success: function (html, textStatus) {
                                                                        $('#todo').replaceWith(html);
                                                                        $('#myModal1').modal('hide');
                                                                        $('#myModal1 form')[0].reset();
                                                                    },
                                                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                                        $('#comment_form form').replaceWith('Your comment was unable to be posted at this time.  We apologise for the inconvenience.');
                                                                    }
                                                                });
                                                                return false;
                                                            });
                                                        }

                                                        $(document).ready(function () {
                                                            sendtwitter1();
                                                        })
                                                    </script>

                                                    <a title="复现完成" rel="nofollow"
                                                       href="#myModal1" data-toggle="modal" class="button">
                                                        <i class="glyphicon glyphicon-check"></i></a>
                                                    <script type="text/javascript">
                                                        function sendtwitter2() {
                                                            $('#myModal2 form').submit(function () {
                                                                $.ajax({
                                                                    type: "POST",
                                                                    data: $('#myModal2 form').serialize(),
                                                                    url: "{% url 'failed' todo.todo_id %}",
                                                                    cache: false,
                                                                    dataType: "html",
                                                                    success: function (html, textStatus) {
                                                                        $('#todo').replaceWith(html);
                                                                        $('#myModal2').modal('hide');
                                                                        $('#myModal2 form')[0].reset();
                                                                    },
                                                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                                        $('#comment_form form').replaceWith('Your comment was unable to be posted at this time.  We apologise for the inconvenience.');
                                                                    }
                                                                });
                                                                return false;
                                                            });
                                                        }

                                                        $(document).ready(function () {
                                                            sendtwitter2();
                                                        })
                                                    </script>
                                                    <a title="复现失败" rel="nofollow"
                                                       href="#myModal2" data-toggle="modal" class="button">
                                                        <i class="glyphicon glyphicon-ok"></i></a>
                                                    <a href="{% url 'update' todo.todo_id %}"
                                                       title="edit">
                                                        <i class="glyphicon glyphicon-edit"></i></a>
                                                    <a href="{% url 'delete' todo.todo_id %}"
                                                       title="delete">
                                                        <i class="glyphicon glyphicon-trash"></i></a>
                                                </div>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                            <div>
                                <a class="btn btn-success" href="#myModal" role="button"
                                   data-toggle="modal">
                                    <i class="glyphicon glyphicon-plus-sign icon-white"></i>
                                    <span> ADD</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <a rel="nofollow" class="panel-title collapsed" data-toggle="collapse"
                           data-parent="#panel-640405" href="#panel-element-256619">复现完成&nbsp;&nbsp;
                            <small>共计：{{ reappear | length }}</small>
                        </a>
                    </div>
                    <div id="panel-element-256619" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <!-- Table -->
                                <table class="table">
                                    <thead>
                                    <tr>
                                        {#<th>ID</th>#}
                                        <th>Owner</th>
                                        <th>Content</th>
                                        <th>Add</th>
                                        <th>Resolved</th>
                                        <th>WorkTime</th>
                                        <th>Operation</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for todo in reappear %}
                                        <tr>
                                            {#<th scope="row">{{ todo.todo_id }}</th>#}
                                            {#<th scope="row">{{ todo.todo_id }}</th>#}
                                            <td class="todo"><a
                                                    href="{% url 'user' todo.owner %}">{{ todo.owner }}</a>
                                            </td>
                                            <td class="ftodo muted">{{ todo.content }}</td>
                                            <td class="todo">{{ todo.add_time }}</td>
                                            <td class="todo">{{ todo.resolve_time }}</td>
                                            <td class="todo">{{ todo.invested_time }}</td>
                                            <td class="te">
                                                <div class="span2">
                                                    <a href="{% url 'back' todo.todo_id %}"
                                                       title="reset"><i
                                                            class="glyphicon glyphicon-refresh"></i></a>
                                                    {#<a href="{% url 'update' todo.todo_id %}"#}
                                                    {#title="edit"><i#}
                                                    {#class="glyphicon glyphicon-edit"></i></a>#}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <a rel="nofollow" class="panel-title collapsed" data-toggle="collapse"
                           data-parent="#panel-640406" href="#panel-element-256618">复现失败&nbsp;&nbsp;
                            <small>共计：{{ unreappear | length }}</small>
                        </a>
                    </div>
                    <div id="panel-element-256618" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <!-- Table -->
                                <table class="table">
                                    <thead>
                                    <tr>
                                        {#<th>ID</th>#}
                                        <th>Owner</th>
                                        <th>Content</th>
                                        <th>Add</th>
                                        <th>Resolved</th>
                                        <th>WorkTime</th>
                                        <th>Operation</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for todo in unreappear %}
                                        <tr>
                                            {#<th scope="row">{{ todo.todo_id }}</th>#}
                                            <td class="todo">
                                                <a href="{% url 'user' todo.owner %}">{{ todo.owner }}</a>
                                            </td>
                                            <td class="ftodo muted">{{ todo.content }}</td>
                                            <td class="todo">{{ todo.add_time }}</td>
                                            <td class="todo">{{ todo.resolve_time }}</td>
                                            <td class="todo">{{ todo.invested_time }}</td>
                                            <td class="te">
                                                <div class="span2">
                                                    <a href="{% url 'back' todo.todo_id %}"
                                                       title="reset"><i
                                                            class="glyphicon glyphicon-refresh"></i></a>
                                                    {#<a href="{% url 'update' todo.todo_id %}"#}
                                                    {#title="edit"><i#}
                                                    {#class="glyphicon glyphicon-edit"></i></a>#}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <a rel="nofollow" class="panel-title collapsed" data-toggle="collapse"
                           data-parent="#panel-640405" href="#panel-element-256611">完成&nbsp;&nbsp;
                            <small>共计：{{ finished | length }}</small>
                        </a>
                    </div>
                    <div id="panel-element-256611" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <!-- Table -->
                                <table class="table">
                                    <thead>
                                    <tr>
                                        {#<th>ID</th>#}
                                        <th>Owner</th>
                                        <th>Content</th>
                                        <th>Add</th>
                                        <th>Resolved</th>
                                        <th>WorkTime</th>
                                        <th>Operation</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for todo in finished %}
                                        <tr>
                                            {#<th scope="row">{{ todo.todo_id }}</th>#}
                                            <td class="todo"><a
                                                    href="{% url 'user' todo.owner %}">{{ todo.owner }}</a>
                                            </td>
                                            <td class="ftodo muted">{{ todo.content }}</td>
                                            <td class="todo">{{ todo.add_time }}</td>
                                            <td class="todo">{{ todo.resolve_time }}</td>
                                            <td class="todo">{{ todo.invested_time }}</td>
                                            <td class="te">
                                                <div class="span2">
                                                    <a href="{% url 'back' todo.todo_id %}"
                                                       title="reset"><i
                                                            class="glyphicon glyphicon-refresh"></i></a>
                                                    {# <a href="{% url 'update' todo.todo_id %}"#}
                                                    {# title="edit"><i#}
                                                    {# class="glyphicon glyphicon-edit"></i></a>#}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</div>

<div class="modal fade in" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h3 id="myModalLabel">Add TODO</h3>
            </div>
            {#    <a rel="nofollow" id="modal-22527" href="#modal-container-22527" role="button" class="btn" data-toggle="modal">触发弹窗</a>#}
            {#			#}
            {#			<div class="modal fade" id="modal-container-22527" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
            {#				<div class="modal-dialog">#}
            {#					<div class="modal-content">#}
            {#						<div class="modal-header">#}
            {#							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>#}
            {#							<h4 class="modal-title" id="myModalLabel">#}
            {#								标题#}
            {#							</h4>#}
            {#						</div>#}
            {#						<div class="modal-body">#}
            {#							这里是弹窗的内容#}
            {#						</div>#}
            {#						<div class="modal-footer">#}
            {#							 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="button" class="btn btn-primary">保存</button>#}
            {#						</div>#}
            {#					</div>#}
            {#					#}
            {#				</div>#}
            {#				#}
            {#			</div>#}
            <form action="" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <textarea name="todo" class="txtodo" id="txtodo" required="required">
                    </textarea>
                    <fieldset>
                        {#                        <label class="radio inline" for="owner">#}
                        <input type="radio" name="owner" value="xx"/>
                        <span class="label label-warning">xx</span>
                        {#                        </label>#}
                        {#                        <label class="radio inline" for="owner">#}
                        <input type="radio" name="owner" value="xx"/>
                        <span class="label label-warning">xx</span>
                        <input type="radio" name="owner" value="xx"/>
                        <span class="label label-warning">xx</span>
                        <input type="radio" name="owner" value="xx"/>
                        <span class="label label-warning">xx</span>
                        <input type="radio" name="owner" value="xx"/>
                        <span class="label label-warning">xx</span>
                        <input type="radio" name="owner" value="xx"/>
                        <span class="label label-warning">xx</span>
                        <input type="radio" name="owner" value="xx"/>
                        <span class="label label-warning">xx</span>
                        <input type="radio" name="owner" value="xx"/>
                        <span class="label label-warning">xx</span>
                        {#                        </label>#}
                        {#                        <div class="input-group">#}
                        {#                        <span class="input-group-addon">#}
                        {#                            <input type="radio" aria-label="...">#}
                        {#<input type="text" class="form-control" aria-label="...">#}
                        {#                        </div><!-- /input-group -->#}
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">
                        Close
                    </button>
                    <button id="send" class="btn btn-success" type="submit"
                            name="submit">Save changes
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade in" id="myModal1" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h3 id="myModalLabel1">请输入投入时间</h3>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="modal-body">投入时间：
                    <input name="investe" class="txtodo" id="txtodo" required="required">
                    </input>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">
                        Close
                    </button>
                    <button id="send" class="btn btn-success" type="submit"
                            name="submit">Save changes
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade in" id="myModal2" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h3 id="myModalLabel2">请输入投入时间</h3>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="modal-body">投入时间：
                    <input name="invested" class="txtodo" id="txtodo" required="required">
                    </input>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">
                        Close
                    </button>
                    <button id="send" class="btn btn-success" type="submit"
                            name="submit">Save changes
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>